.tittle-reporte {s
	font-size: 15px;
	font-weight: bold;
	margin-top: 20px;
	color: #3e98cc;

}

.sub-tittle-reporte{
	font-size: 13px;
	margin-top: 5px;
	margin-bottom: 15px;
	color: #666666;
}

.info-inm {
	font-size: 12px;
	color: #666666;
}

.reporte-inmueble {
	font-size: 16px;
	font-weight: 300;
	color: #3e98cc;
}

.tittle-remdimiento-inm {
	font-size: 0.9em;
	margin-top: 13px;
	margin-bottom: 8px;
	color: #666666;
}

.resultado-rendimiento-imn{
	font-size: 20px;
	color: #de0000;
	text-align: center;
	margin-top: -5px;
}

.tit-rendimiento {
	font-size: 12px;
	color: #666666
;	text-align: center;
	padding-bottom: 8px;
	font-weight: 300;
}

.inmueble-vs-otros{
    padding-bottom: 3%;
    float: left;
    width: 530px;
}

.titulosReportes{
    float: left;
    font-size: 13px;
    height: 20px;
    width: 100%;
    text-align: center;
    color: white;
    background: #666666;
}

.subtit-cal-camp {
	height: 20px;
	width: 100%;
	text-align: right;
	background: #dbd9d9;
}

.subtit-cal-camp span {
	font-size: 13px;
	color: #605d5d;
	font-weight: bold;
	padding-right: 10px;
}

.logo-reporte {
	overflow: hidden;
	display: block;
	width: 100%;
	margin-top: 5%
}

.espacio{
	margin-bottom: 15px;
}

.img-logo-reporte {
	width: 100%;
	height: 100px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	margin: 10px 0px 10px 0px;
}

.img-inm-reporte {
	overflow: hidden;
	display: block;
	width: 220px;
	height: 185px;
	margin-left: 35px;
	margin-top: 14px;
	margin-right: 35px;
}

.img-inm-reporte img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	inline-size: 100%;
}

.img-inm-reporte span {
	font-weight: bold;
	font-size: 15px;
	margin: 20px 33px 8px 35px;
	font-size: 13px;
	color: #908683;
}

.opciones-reporte {
	margin-top: 50px;
	bottom: 0;
}

.img-pdf {
    width: 29px;
    height: 35px;
    margin-left: 50px;
}

.descargar-pdf {
	width: 100%;
	height: 35px;
	float: left;
	font-size: 14px;
}

.containerReporte {
	max-width: 880px;
	padding-left: 1.5%;
	margin: 20px auto 20px auto;
}

.row:before,
.row:after {
	display: table;
  	content: " ";
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-ocho {
	width: 62%;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	float: left;
}

.col-md-cuatro-p{
	float: left;
	width: 33%;
	min-height: 1px;
}

.col-md-cuatro {
	float: left;
	width: 33%;
	position: relative;
	min-height: 1px;
}

.col-md-tres{
	float: left;
	
	width: 25%;
	position: relative;
    min-height: 1px;
}

.text-info {
	font-size: 13px;
	color: #666666;
	text-align: justify;
	padding: 0px 18px 0px 5px;
	font-weight: 300;
	margin-bottom: 20px;
}

.inf-inmobiliaria {
	margin: 14px;
	padding-left: 21px;
	padding-right: 21px;
	margin-top: 0px;
}

.inf-inmobiliaria-rz{
	font-size: 15px;
	color: #3e98cc;
	
}

.inf-inmobiliaria-otr{
	font-size: 13px;
	color: #666666;
	text-align: justify;
}

.descargar span{
	font-size: 13px;
	color: #9c9896;
	text-align: justify;
}

.enviar span{
	font-size: 13px;
	color: #9c9896;
	text-align: justify;
}

.pagina_web a{
	font-size: 13px;
	text-align: justify;
	text-decoration: underline;
}

figure {
  overflow: hidden;
  max-height: 220px;
}

figure .content-image {
    padding: 38% 0;
    margin: 0 auto;
    background-position: 50% 0 !important;
    background-repeat: no-repeat !important;
    -webkit-animation-name: keyframe_18jn58a !important;
    animation-name: keyframe_18jn58a !important;
    -webkit-animation-duration: 300ms !important;
    animation-duration: 300ms !important;
    -webkit-animation-timing-function: ease-out !important;
    animation-timing-function: ease-out !important;
    border-radius: 3px !important;
    background-size: 100% 100% !important;
    width: 100% !important;
}

figure .content-image iframe {
    width: 100% !important;
    height: 225px !important;
}