<div class="container">
    <div class="center">
            <div class="row">
                    <div class="col s12 m12 l12">
                        Bienvenido {{resp.mensaje}}
                    </div>
                  </div>

    </div>

</div>  
  <div class="container">
        <div class="center">
                <div class="row">
                        <div class="col s12 m4 l4">
                            <button (click)="load_inmuebles_arriendo('arriendo','apartamento')">Apto en Arriendo</button>
                        </div>
                        <div class="col s12 m4 l4">
                            <button (click)="load_inmuebles_venta('venta','apartamento')">Apto en Venta!</button>
                        </div>
                        <div class="col s12 m4 l4">
                            <button (click)="load_inmuebles_arriendo_bogota('arriendo','bogota','apartamento')">Apto en Arriendo en Bogota!</button>
                        </div>
                      </div>

        </div>

    </div>
